<section class="register">
    <div class="register-wrapper">
        <h1 class="text-white mb-4">Register</h1>
        <form [formGroup]="registerForm" class="register-form mb-5" (ngSubmit)="signUp()">
            <div class="input-wrapper">
                <input class="register-input" formControlName="name" placeholder="Full name" type="text">
                <input class="register-input" formControlName="email" placeholder="Email" type="email">
                <input class="register-input" formControlName="phone" placeholder="Phone number" type="text">
                <input class="register-input" formControlName="password" placeholder="Password" type="password">
                <input class="register-input" formControlName="password_confirmation" placeholder="Confirm Password" type="password">

            </div>
            <button type="submit" class="register-btn">Register</button>
            <div class="d-flex justify-content-between">
                <div class="remember-wrapper">
                    <input class="remember-checkbox" type="checkbox" id="" name="">
                    <label class="remember-label" for="">Remember me</label>
                </div>
                <a class="help-link" href="">Need Help?</a>
            </div>
        </form>
        <div class="card-footer">
            <div class="d-flex items-center">
                <p class="footer-text">
                    Alredy have an account?
                </p>
                <a class="signup-link" [routerLink]="'/login'">
                    Sign in now
                </a>
            </div>
            <p class="footer-text">
                This page is protected by Google reCAPTCHA to ensure you're not a bot
            </p>
        </div>
    </div>
</section>