<div  class="img-wrapper">
    <img src="https://occ-0-6468-1490.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWs68SA6hTINV4ndGLvz5W6Pl4p7KnuXEPyOUiACFYSJLmWWEamaB8jUs_sn97na9v2L3P-2R53V4hIaAnrbq_NvxsifmN9nifZoDX6QTTlGDsqV9K1u9kdgsh_ownUGMyJYMghRhDdcK6NFfnQhbzRRYw9cR2U74fAQM8xW07ttDisxzm1H6Hr9-wgSqC8hrI-XXPJE8MWwh1JDb0gGX3Ho8MW5JLno3mR2seRVYbrM_4QzrLcDoBj6Rt2uVmw4plA9YEpl2dmwoo5KTQX94pCR0rSWFfM_hjxHJuIYNHj2tj28OY0.jpg?r=e63"
        alt="Movie Title">
</div>

<!-- <app-movie-modal></app-movie-modal> -->