<div class="search-section">
    <div class="search-wrapper">
        <div class="suggested-wrapper">
            <p class="explore">More to explore:</p>
            <ul class="search-list">
                <li>
                    <a href="">
                        test 1
                    </a>

                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>
                <li>
                    <a href="">
                        test 2
                    </a>
                </li>





            </ul>
        </div>

        <div class="row">
            <div class="item-wrapper col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let movie of searchedMovies">
                <app-movie-item [movieTitle]="movie.original_title" [movieImage]="movie.backdrop_path"></app-movie-item>
            </div>

        </div>
    </div>
</div>
