<div class="netflix-slider">
        <h2 class="category-title">Popular on Netflix</h2>
        <div class="swiper-container swiper">
                <div class="swiper-wrapper">
                        <div class="swiper-slide"><img
                                        src="https://occ-0-6468-1490.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABQBCv9FpM1vhPaGDYT7LeyOuAnv95jJrx1KazlewFPjJyPDGmCRNz9oTpbABLIAooj9x6_Uxy1eqA7iZvI6Gbf16m1s32i1xCViU1is-v9BGQlIsR7nh9QkMhSFME2qbAGweVNAQXqM9iWq_rgpte0P4YYdPp4cFIH6EHyeOmxDK-U8LWFnRE4ZMraOzkGK1iGKpMmIA4y_zlSbbSDn0P6qax4TeIPU31BBiTxaNtRbNqfwgrb3Avw-iePkX2MGV-XOzPwiqmws4I3g6mgdXjtmKH477d9IN7Tpn-yPQH2TYBK0HGHU.jpg?r=90c"
                                        alt="Movie Title"></div>
                        <div class="swiper-slide"><img
                                        src="https://occ-0-6468-1490.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWs68SA6hTINV4ndGLvz5W6Pl4p7KnuXEPyOUiACFYSJLmWWEamaB8jUs_sn97na9v2L3P-2R53V4hIaAnrbq_NvxsifmN9nifZoDX6QTTlGDsqV9K1u9kdgsh_ownUGMyJYMghRhDdcK6NFfnQhbzRRYw9cR2U74fAQM8xW07ttDisxzm1H6Hr9-wgSqC8hrI-XXPJE8MWwh1JDb0gGX3Ho8MW5JLno3mR2seRVYbrM_4QzrLcDoBj6Rt2uVmw4plA9YEpl2dmwoo5KTQX94pCR0rSWFfM_hjxHJuIYNHj2tj28OY0.jpg?r=e63"
                                        alt="Movie Title"></div>
                        <div class="swiper-slide"><img
                                        src="https://occ-0-6468-1490.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABQBCv9FpM1vhPaGDYT7LeyOuAnv95jJrx1KazlewFPjJyPDGmCRNz9oTpbABLIAooj9x6_Uxy1eqA7iZvI6Gbf16m1s32i1xCViU1is-v9BGQlIsR7nh9QkMhSFME2qbAGweVNAQXqM9iWq_rgpte0P4YYdPp4cFIH6EHyeOmxDK-U8LWFnRE4ZMraOzkGK1iGKpMmIA4y_zlSbbSDn0P6qax4TeIPU31BBiTxaNtRbNqfwgrb3Avw-iePkX2MGV-XOzPwiqmws4I3g6mgdXjtmKH477d9IN7Tpn-yPQH2TYBK0HGHU.jpg?r=90c"
                                        alt="Movie Title"></div>
                        <div class="swiper-slide"><img
                                        src="https://occ-0-6468-1490.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWs68SA6hTINV4ndGLvz5W6Pl4p7KnuXEPyOUiACFYSJLmWWEamaB8jUs_sn97na9v2L3P-2R53V4hIaAnrbq_NvxsifmN9nifZoDX6QTTlGDsqV9K1u9kdgsh_ownUGMyJYMghRhDdcK6NFfnQhbzRRYw9cR2U74fAQM8xW07ttDisxzm1H6Hr9-wgSqC8hrI-XXPJE8MWwh1JDb0gGX3Ho8MW5JLno3mR2seRVYbrM_4QzrLcDoBj6Rt2uVmw4plA9YEpl2dmwoo5KTQX94pCR0rSWFfM_hjxHJuIYNHj2tj28OY0.jpg?r=e63"
                                        alt="Movie Title"></div>
                        <div class="swiper-slide"><img
                                        src="https://occ-0-6468-1490.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABQBCv9FpM1vhPaGDYT7LeyOuAnv95jJrx1KazlewFPjJyPDGmCRNz9oTpbABLIAooj9x6_Uxy1eqA7iZvI6Gbf16m1s32i1xCViU1is-v9BGQlIsR7nh9QkMhSFME2qbAGweVNAQXqM9iWq_rgpte0P4YYdPp4cFIH6EHyeOmxDK-U8LWFnRE4ZMraOzkGK1iGKpMmIA4y_zlSbbSDn0P6qax4TeIPU31BBiTxaNtRbNqfwgrb3Avw-iePkX2MGV-XOzPwiqmws4I3g6mgdXjtmKH477d9IN7Tpn-yPQH2TYBK0HGHU.jpg?r=90c"
                                        alt="Movie Title"></div>
                        <div class="swiper-slide"><img
                                        src="https://occ-0-6468-1490.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWs68SA6hTINV4ndGLvz5W6Pl4p7KnuXEPyOUiACFYSJLmWWEamaB8jUs_sn97na9v2L3P-2R53V4hIaAnrbq_NvxsifmN9nifZoDX6QTTlGDsqV9K1u9kdgsh_ownUGMyJYMghRhDdcK6NFfnQhbzRRYw9cR2U74fAQM8xW07ttDisxzm1H6Hr9-wgSqC8hrI-XXPJE8MWwh1JDb0gGX3Ho8MW5JLno3mR2seRVYbrM_4QzrLcDoBj6Rt2uVmw4plA9YEpl2dmwoo5KTQX94pCR0rSWFfM_hjxHJuIYNHj2tj28OY0.jpg?r=e63"
                                        alt="Movie Title"></div>

                        <div class="swiper-slide"><img
                                        src="https://occ-0-6468-1490.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABQBCv9FpM1vhPaGDYT7LeyOuAnv95jJrx1KazlewFPjJyPDGmCRNz9oTpbABLIAooj9x6_Uxy1eqA7iZvI6Gbf16m1s32i1xCViU1is-v9BGQlIsR7nh9QkMhSFME2qbAGweVNAQXqM9iWq_rgpte0P4YYdPp4cFIH6EHyeOmxDK-U8LWFnRE4ZMraOzkGK1iGKpMmIA4y_zlSbbSDn0P6qax4TeIPU31BBiTxaNtRbNqfwgrb3Avw-iePkX2MGV-XOzPwiqmws4I3g6mgdXjtmKH477d9IN7Tpn-yPQH2TYBK0HGHU.jpg?r=90c"
                                        alt="Movie Title"></div>
                        <div class="swiper-slide"><img
                                        src="https://occ-0-6468-1490.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWs68SA6hTINV4ndGLvz5W6Pl4p7KnuXEPyOUiACFYSJLmWWEamaB8jUs_sn97na9v2L3P-2R53V4hIaAnrbq_NvxsifmN9nifZoDX6QTTlGDsqV9K1u9kdgsh_ownUGMyJYMghRhDdcK6NFfnQhbzRRYw9cR2U74fAQM8xW07ttDisxzm1H6Hr9-wgSqC8hrI-XXPJE8MWwh1JDb0gGX3Ho8MW5JLno3mR2seRVYbrM_4QzrLcDoBj6Rt2uVmw4plA9YEpl2dmwoo5KTQX94pCR0rSWFfM_hjxHJuIYNHj2tj28OY0.jpg?r=e63"
                                        alt="Movie Title"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
        </div>
</div>